<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon 32x32 title-->
    <link rel="shortcut icon" href="../../src/images/logo.png" type="image/x-icon">
    <title>MENU</title>
    <!-- css-->
    <link rel="stylesheet" href="../../src/css/styles.css">    
    <!-- icons
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://kit.fontawesome.com/46300445ea.js" crossorigin="anonymous"/>
    -->
    <!-- icons ww3-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
</head>
<body class="body">
    <header class="header">
        <!--img class="logo" src="../../src/images/logo.png" alt="Logo del restaurant." width="30"-->
        <h1 id="up" class="title">MENU</h1> 
        <nav class="nav">
            <a href="#">
                <ul  id="navList">
                    <li title="Inicio" id="home" class="home"><i class="material-icons">home</i></li>
                    <li title="Buscar" id="search" class="search"><i class="material-icons">search</i></li>
                    <li title="Ver mi pedido" class="selectedProduct"><i class="material-icons">shopping_cart</i><p id="counter">(0)</p></li>            
                    <li title="Comandas del dia" id="commands" class="commands"><i class="material-icons">settings</i></li>
                </ul>
            </a>
        </nav>
    </header>
    <aside id="aside_search">
        <!-- aside del buscador -->
    </aside>
    <main id="main">
        <section id="allProducts" class="allProducts">
            <!-- SPA: Renderiza cuando se carga la pagina -->
        </section>
        <section id="allCommands" class="allCommands" >
            <!-- SPA: Renderiza cuando se hace click en settings -->
        </section>
        <div id="background">
            <!--capa gris entre main y modals -->
        </div>
        <section id="modalDetail">
            <!-- Modal Detalle Mercaderia y crear comanda -->
        </section>
    </main>
    <footer id='foot' class="footer">
        <p class="footer__text">Proyecto de Software 1C 2023&copy;</p>
        <!--agregar footer-->
    </footer>
    <!-- js-->
    <script src="../js/init.js" type="module"></script>
</body>
</html>