<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon 32x32 title-->
    <link rel="shortcut icon" href="../../src/images/logo.png" type="image/x-icon">
    <title>MENU</title>
    <!-- css-->
    <link rel="stylesheet" href="../../src/css/styles.css">    
    <!-- icons
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://kit.fontawesome.com/46300445ea.js" crossorigin="anonymous"/>
    -->
    <script src="https://kit.fontawesome.com/46300445ea.js" crossorigin="anonymous"></script>      

 
</head>
<body class="body">
    <header class="header">
        <!--img class="logo" src="../../src/images/logo.png" alt="Logo del restaurant." width="30"-->
        <h1>menu</h1> 
        <nav class="nav">
            <ul>
                <li class="selectedProduct">VER MI PEDIDO<p id="counter"></p></li>            
                <li class="selectorType" value="1">ENTRADA</li>            
                <li class="selectorType" value="2">MINUTAS</li>
                <li class="selectorType" value="3">PASTAS</li>
                <li class="selectorType" value="4">PARRILLA</li>
                <li class="selectorType" value="5">PIZZAS</li>
                <li class="selectorType" value="6">SANDWICH</li>
                <li class="selectorType" value="7">ENSALADAS</li>
                <li class="selectorType" value="8">BEBIDAS</li>
                <li class="selectorType" value="9">CERVEZA ARTESANAL</li>
                <li class="selectorType" value="10">POSTRE</li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="allProducts">
            <!-- SPA: Renderiza cuando se carga la pagina -->
        </section>
        <div id="background">
            <!--capa gris entre main y modals -->
        </div>
        <section id="modalDetail">
            <!-- Modal Detalle Mercaderia y crear comanda -->
        </section>
    </main>
    <footer class="footer">
        <p class="footer__text">&copy;2023 | Proyecto de Software | 1er cuatrimestre</p>
        <!--img class="footer__logo" src="../../src/images/logo.png" alt="Logo del restaurant." width="50"-->
    </footer>
    <!-- js-->
    <script src="../../src/js/main.js" type="module"></script>
</body>
</html>