@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Defino variables */
:root {
    --color-negro: #272525;
    --color-blanco: #F2F2F2;
    --color-blanco-azulado: #E6E6FA;
    --color-grey: #5b5757;
    --color-ok: #C5E1A5;
    --color-blu: #c8daf4;
    --color-shadow: #cbcbcc;

    --header-title: var(--color-negro);
    --nav-icons:var(--color-negro);
    --transparent: rgba(0, 0, 0, 0.7); 

    --body-background:var(--color-blanco);
    --nav-icons-hover: var(--color-blanco);
    --button-delivery: var(--color-blanco);

    --header-back: var(--color-blanco-azulado);
    --modal:var(--color-blanco-azulado);
    --footer:var(--color-blanco-azulado);
    --nav-counter:var(--color-blanco-azulado);

    --color-font: var(--color-grey);
    --success: var(--color-ok);
    --button-add-hover: var(--color-ok);

    --icon-blue:var(--color-blu);
    --button-add: var(--color-blu);

    --mercaderia-shadow:var(--color-shadow);
}

/*#region DEFAULT*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:var(--color-font);
    
}

html {
    max-width: 1920px;
    max-height: 1080px;
    background-color: var(--body-background);
}
/*#endregion*/

/*#region BUTTON*/
#button__search:hover, 
#button__searchCommands:hover, 
#comandaCreateNext:hover,
#formaEntregaSelected:hover {
    background-color: var(--success);
    transition: background-color 4s;
}

/*#endregion*/


/* #region HEADER Y NAV */
.header {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    position:fixed; 
    z-index: 2;
    background-color: var(--header-back);
    max-width: 1920px;
    min-width: 100%;
    padding: 1.5rem 2rem;
}
    .title {
        color: var(--header-title);
        font-family: 'Nanum Myeongjo', serif;
        font-size: 50px;
    }
    .nav ul {
        display: flex;
        list-style-type: none;
    }
    .nav ul li {
        margin: 1rem;
        border-radius: 3px;
        transition: background-color 2s;
        padding: 0.5rem 1rem 0.1rem 1rem;
    }
    .nav ul li:hover {
        background-color: var(--color-blanco);
        cursor:pointer;
    }
    .nav i {
        font-size: 1.5rem;
    }
    #counter {
        color: var(--color-font);
        display:inline-block;
    }
/* #endregion */


/*#region SELECT PRODUCTS*/
.selectedProducts{
    padding: 2rem;
    margin: 0rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 170px;
}
.clicked{
    background-color: var(--color-blanco);
}
/*#endregion*/


/*#region ALL PRODUCTOS */
    .allProducts {
        padding: 2rem;
        margin: 0rem 4rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 170px;
    }

        /* Componente Card Mercaderia*/
        .mercaderia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--modal);
            padding: 0.5rem;
            margin-bottom: 1rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            border-radius: 10px;
            transition-duration: 1s;
        }

        .open_detail{
            cursor:pointer;
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 0.5rem;
            text-align: center;
        }
        i {
            color: #777777;
        }
            .mercaderia:hover {
                box-shadow: 0px 0px 25px 10px var(--mercaderia-shadow);
                transform:scale(1.2);
                transition-duration: 1s;

            }
            .mercaderia__image {
                max-width: 100%;
                height: auto;
            }
            .mercaderia__foot {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .mercaderia__foot p{
                justify-content: center;
                align-items: center;
                font-size: small;
            }
            .mercaderia__add {
                margin: 7px;
                padding: 7px;
                background-color:var(--button-add);
                border-style: hidden;
                cursor:pointer;
                border-radius: 5px;
                font-size: medium;
                align-items: center;
                display: flex;
            }
            .mercaderia__add:hover , .mercaderia__add.buttonNonSelected:hover{
                background-color: var(--success);
                transition: background-color 4s;
            }
            .mercaderia__add.buttonNonSelected {
                background-color: var(--button-add);
            }
            .mercaderia__add.buttonSelected {
            background-color:var(--success);
            }
            .mercaderia__add.buttonSelected:hover {
            background-color: var(--icon-blue);
            transition: background-color 3s;
            }
/* #endregion */

/*#region BACKGROUND */
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--transparent);
        z-index:4;
    }
/* #endregion */

/*#region MODAL DETALLE DE MERCADERIA */
    .mercaderiaDetail{
        background-color: var(--modal);
        top: 10rem;
        position:fixed;
        margin: 0rem 10rem;
        border-radius: 30px;
        padding: 20px 40px 40px 90px;
        z-index: 4; 
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .mercaderiaDetail img {
        max-height:417px ;
    }
    .mercaderiaDetail i{
        align-self: start;
        cursor: pointer;
    }
    .mercaderiaDetail div .mercaderiaDetailText  {
        font-size: 1rem;
        font-weight:bold;
        margin-left: 40px;
    }
    .mercaderiaDetail div .mercaderiaDetailRight {
        text-align: right;
    }
    .mercaderiaDetail .mercaderia__close {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    .mercaderiaDetail button {
        background-color:var(--button-add);
        margin-top: 28rem;
        padding: 0.5rem;
        align-self: end;
        border-style: hidden;
        cursor:pointer;
        border-radius: 5px;
        font-size: medium;
    }
    .mercaderiaDetail button:hover {
        background-color:var(--color-shadow);
        transition: background-color 4s;
    }
    .mercaderiaDetail .mercaderia__content {
        background-color:var(--color-blanco);
        padding: 2rem 2rem 2rem 1rem;
        margin-left: 2rem;
        border-radius: 15px;
        height: 417px;
    }
/* #endregion */

/*#region MODAL DE COMANDA*/
    .comandaDetail {
        background-color: var(--modal);
        width: 50rem;
        position:absolute;
        top: 10rem;
        left: 0; 
        right: 0;
        margin: auto;            
        border-radius: 30px;
        padding: 50px 40px;
        align-items: center;
        align-content: center;
        z-index: 4; 
    }
    .comandaDetail i {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    .textRight {
        text-align: right;
    }
    .comandaDetail table {
        text-align:center;
        width: 100%;
    }
    .comandaDetail .content, .comandaDetail h3 {
        background-color: var(--color-blanco);
        border-radius: 30px;
        padding: 25px 20px;
        margin: 25px 20px;
        text-align: center;

    }
    .comandaDetail .content h4{
        text-align: center;
        padding-top: 10px;
        padding-left: 2rem;
    }

    .comandaDetail__buttons {
        text-align: right;
    }
    .comandaDetail__buttons h3 {
        align-items: center;
        align-content: center;
    }
    .comandaDetail__buttons button {
        border-style: hidden;
        cursor:pointer;
        border-radius: 5px;
        font-size: medium;
        background-color: var(--button-add);
        padding: 0rem 2rem;
        margin: 0rem 1rem;
        font-weight: 700;
    }
    .comandaDetail__buttons button:hover {
        background-color:var(--color-shadow);
        transition: background-color 4s;
    }
/* #endregion */

/* #region FORMA DE ENTREGA */
    .options__delivery{
        display: flex;
        padding: 2rem 5rem;
        justify-content: space-between;
    }
    .options__delivery button{
        font-size: large;
        padding: 1rem;
        cursor:pointer;
        border:none;
        background-color:var(--color-blanco);
        width: 27%;
        border-radius: 10px;
    }
    .options__delivery button:hover{
        background-color: var(--color-ok);
        transform:scale(1.2);
        transition: background-color 2s;
    }
    .options__delivery button.selected{
        background-color: var(--color-ok);
    }
/* #endregion */

/* #region MODAL SEARCHER*/
    .searcher {
        background-color: var(--modal);
        top: 10rem;
        width: 25rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

        border-radius: 30px;
        padding: 50px 40px;
        z-index: 4;
    }
    
    .searcher i {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    
    .searcher ul {
        text-align: center;
        margin: 1rem 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .searcher li {
        flex-basis: 32%;
        padding: 1rem;
    }
    .searcher #searcher__date{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;   
        margin: 2rem 0;
    }

    .searcher input,
    .searcher select {
        width: 100%;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid var(--border);
    }
    .searcher #searcher__order, #searcher__type {
        cursor: pointer;
    }
    
    .searcher button {
        border-style: hidden;
        cursor: pointer;
        border-radius: 5px;
        font-size: medium;
        background-color: var(--button-add);
        padding: 0rem 2rem;
        margin: 0rem 1rem;
        font-weight: 700;
        margin-right: 1rem;
    }
    
    .searcher button:hover {
        background-color: var(--color-shadow);
        transition: background-color 0.4s;
    }

    
/* #endregion */

/* #region FOOTER */
    footer {
        color: var(--header-title);
        background-color: var(--footer);
        padding-left: 5rem;
        font-size: 16px;
        padding-top: 2rem ;
    }
    footer .footer__text{
        font-size: 14px;
        color: var(--color-negro);
    }
    .footer ul {
        list-style: none;
    }
    .icons a{
        font-size: 30px;
    }
    .icons a i:hover {
        transform: scale(1.1);
    }
    .contactUs a {
        text-decoration: none; 
    }
    .contactUs a:hover {
        text-decoration: underline; 
    }
    .footer__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    #footer__up {
        color: var(--color-grey);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        transition: transform 0.3s;
    }
    
    #footer__up:hover {
        color: var(--color-negro);
        transform: scale(1.2);
    }   

/* #endregion */

/* #region COMANDAS*/
#tableArrows__down {
    color: var(--color-grey);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: transform 0.3s;
}

#tableArrows__down:hover {
    color: var(--color-negro);
    transform: scale(1.2);
}   
/*

    #tableArrows__up, #tableArrows__down {
        z-index: 5;
        transition: transform 0.3s;
    }
    #tableArrows__up:hover,
    #tableArrows__down:hover{
        color: var(--color-negro);
        transform: scale(1.2);
        transition: transform 0.3s;
    }*/

    .allCommands{
        background-color: var(--body-background);
        padding: 0rem 5rem 5rem 5rem;
        top: 0px;
    }
    .allCommands .comandaTable {
        width: 100%;
        border-collapse: collapse; 
        border-top: 1px solid var(--color-grey);
        border-bottom: 1px solid var(--color-grey);
    }
    .comandaTable th, .comandaTable td {
        border-top: 1px solid var(--color-grey);
        border-bottom: 1px solid var(--color-grey);
        padding: 1rem;
        text-align: center;
    }
        .comandaTable .impar, .comandaTable .par{
            background-color: var(--color-blanco);
        }
        .comandaTable .impar:hover, .comandaTable .par:hover{
            background-color: var(--color-blanco-azulado);
            transition: background-color 0.2s;
        }
        #rowProduct {
            padding: 0;
        }
        #totalVentas {
            font-size: large;
            font-weight: bold;
        }
/*#endregion*/


/* #region ASIDE SEARCHER*/
    .slideMain { 
        float: right; width: 80%;
    }
    #aside_search { 
        display:none;
        position:fixed; 
        background-color: var(--color-blu);
        top:120px;
        width: 17%;
        height: 100%;
        padding-bottom: 10px;
        justify-content:end;
        transform: translateX(-100%);
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function:ease;
        z-index: 3; 
        cursor: pointer;
        display: grid;
        grid-template-rows: repeat(3,1fr);

    }
    #aside_search.animate { 
        transform: translateX(-80%);
        transition-property: transform;
        transition-duration: 1s;
        transition-timing-function:ease;
        display: block;
    }

    #aside_search:hover {
        transform: translateX(0%);
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function:ease;
    }

    /*buscador*/
    #asideSearcherCommands{
        height: 100%;
        margin: 2rem;
     
    }
    #asideSearcherCommands p {
        padding-bottom: 1rem;
    }

    #button__searchCommands {
        border-style: hidden;
        cursor:pointer;
        border-radius: 5px;
        font-size: medium;
        background-color: var(--color-blanco);
        padding: 1rem 2rem;
        margin: 1rem 1rem;
        font-weight: 700;
    }
    #button__searchCommands:hover{
        background-color: var(--color-blanco-azulado);
        transition: background-color 2s;
    }
    #searcher__date {
        padding: 5px;
        border-radius: 5px;
        border-style:solid;
        border-width: 1px;
        border-color: var(--color-blu);
        cursor: pointer;
    }
/* #endregion */
