@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
/* Defino variables */
:root {
    --color-principal:#555555;
    --color-secundario:#ec7433;
    --color-terciario:#f45c33; 
    --color-fondo:#666666;
    --color-texto:#f4f4f4;
    --color-texto-secundario:#f6af89;

    --color-fondo-body: rgb(204, 183, 162);
    --color-fondo-oscuro: #333333;
    --color-fondo-nav: #555555;
    --color-fondo-nav-claro: #777777;
    --color-letra-claro:#f8f8f8;
    --color-letra-oscuro:#111111;
    
/**************************************/
    --color-button-add:#f2e1d8;
    --color-button-add-hover:#f6af89;
    --color-button-selected: #9beb92;
}
/*Por defecto del browser*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito', sans-serif;    
    */
}

.body {
    max-width: 1920px;
    max-height: 1080px;
    background-color: var(--color-letra-oscuro);
}
.logo {
    float: left;
    align-items: center;
}

    .header {
        background-color: var(--color-letra-oscuro);
        color: var(--color-letra-claro);
        padding: 2rem;
        justify-content:left;
        align-items: center;
    }
        .nav{
            padding: 5rem 1rem;
            background-color: var(--color-letra-oscuro);
            justify-content: end;
            float: right;
            position: relative;
        }
        #counter {
            display:inline-block;
        }
        .nav ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            justify-content:space-around;
            gap: 3rem;
            
        }
        .nav ul li {
            margin-right: 1rem;
            font-size: large;
            text-decoration: none;
            color: var(--color-letra-claro);
            border-radius: 3px;
            transition: background-color 4s;
            padding: 0.3rem 1rem;
        }
        .nav ul li a {
        }
        .nav ul li:hover {
            background-color: var(--color-fondo);
            cursor:pointer;
        }

    #allProducts {
        padding: 2rem;
        margin-left: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-radius: 15;
    }
        /* Componente Mercaderia*/
        .mercaderia {
                justify-content:left;
                align-items: center;
                background-color: #f4f4f4;
                padding: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                border-radius: 10px;
            }
            .mercaderia:hover {
                box-shadow: 0px 0px 25px 10px var(--color-fondo-oscuro);
                transform:scale(1.2);
                cursor:pointer;
            }
            .mercaderia__image {
                max-width: 100%;
                height: auto;
            }
            .mercaderia__foot {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                justify-content:space-around;
            }
            .mercaderia__foot p, button p{
                font-size: small;
            }
            .background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7); 
            }
            .mercaderia__add {
                margin: 7px 5px;
                padding: 7px 0px;
                background-color:var(--color-button-add);
                border-style: hidden;
                cursor:pointer;
                border-radius: 5px;
                font-size: medium;
            }
            .mercaderia__add:hover {
                background-color:var(--color-button-add-hover);
                transition: background-color 4s;
            }
            .buttonNonSelected{
                background-color: var(--color-button-selected);
            }
            .buttonNonSelected:hover {
                background-color:var(--color-button-add-selected-hover);
                transition: background-color 4s;
            }
            .buttonSelected{
                background-color: var(--color-button-add);
            }
            .buttonSelected:hover {
                background-color:var(--color-button-add-non-selected-hover);
                transition: background-color 4s;
            }

        /*MODAL DE MERCADERIA*/
        .mercaderiaDetail {
            background-color: #f4f4f4;
            top: 160px;
            position:fixed;
            margin-left: 4rem;
            max-height: 76%;
            max-width: 76%;
            display: grid;
            grid-template-columns: 5fr 5fr 1fr;
            border-radius: 30px;
            padding: 50px 40px;
            align-items: center;
            z-index: 2; 
        }
        .mercaderiaDetail div .mercaderiaDetailText {
            font-size: 1.2rem;
            font-weight:bold;
            margin-left: 40px;
        }
        .mercaderiaDetail div .mercaderiaDetailRight {
            text-align: right;
        }            
        .mercaderiaDetail button {
            background-color:var(--color-button-add);
            align-self: end;
            border-style: hidden;
            cursor:pointer;
            border-radius: 5px;
            font-size: medium;
        }
        .mercaderiaDetail button:hover {
            background-color:var(--color-button-add-hover);
            transition: background-color 4s;
        }
        /*MODAL DE COMANDA*/
        .comandaDetail {
            background-color: #f4f4f4;
            width: 50rem;
            position:absolute;
            top: 160px;
            left: 0; 
            right: 0;
            margin: auto;            
            border-radius: 30px;
            padding: 50px 40px;
            align-items: center;
            align-content: center;
            z-index: 2; 
        }
        .textRight {
            text-align: right;
        }
        .comandaDetail table {
            text-align:center;
            width: 100%;
        }
        .comandaDetail .content {
            background-color: #f4f4f4;
            border-radius: 30px;
            padding: 50px 40px;
            align-items: center;
            align-content: center;
            
            
        }
        .comandaDetail__buttons {
            display: grid;
            grid-template-columns: 8fr 2fr  2fr;
            text-align: center;
        }
        .comandaDetail__buttons h3 {
            align-items: center;
            align-content: center;
        }

        .comandaDetail__buttons button {
            border-style: hidden;
            cursor:pointer;
            border-radius: 5px;
            font-size: medium;
        }
        .comandaDetail__buttons button:hover {
            background-color:var(--color-texto-secundario);
            transition: background-color 4s;
        }


        

    footer {
        background-color: var(--color-principal);
        color: var(--color-texto);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        position:relative;
        bottom: 0;
        width: 100%;
        
    }