@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Defino variables */
:root {
    --nav-icons:#f8f8f8;
    --nav-icons-hover: #333333;
    --body-background:#111111;
    --header-title:#f8f8f8;
    --nav-counter: #f6af89;
    --modal: /* rgb(201, 201, 213);*/#f4f4f4; 
    --mercaderia-shadow: #031222;
    --hover-close:#c8c1c1;
    --footer:#1c1b1b;
    --button-add:#dcd5d1;
    --button-add-hover:#f6af89;
    --pinterest-color: #cb2028;
    --red-color: #a11a1a;
    --success: rgb(41, 178, 137);
    --button-delivery:#ca7f56;

}
/*Por defecto del browser*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
td {
    font-size: large;
    color: var(--footer);
    font-weight: bold;
    
}
html {
    max-width: 1920px;
    max-height: 1080px;
    background-color: var(--body-background);
}
/* #region HEADER Y NAV */
.header {
    /*margin: 2rem 2rem 2rem 2rem;*/
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    position:fixed; /*relative se mueve, lo saco y queda arriba, se va con el scroll*/
    z-index: 2;
    background-color: var(--button-delivery);
    margin-block:var(--body-background);
    max-width: 1920px;
    min-width: 100%;
    padding: 2rem 2rem 1.5rem 2rem;
}
    .title {
        color: var(--header-title);
        font-family: 'Nanum Myeongjo', serif;
        font-size: 50px;
    }
    .nav ul {
        display: flex;
        list-style-type: none;
    }

    .nav ul li {
        margin: 1rem;
/*        font-size: large;
        text-decoration: none;*/
        color: var(--nav-icons);
        border-radius: 3px;
        transition: background-color 4s;
        padding: 0.5rem 1rem 0.1rem 1rem;
    }
    .nav ul li:hover {
        background-color: var(--nav-icons-hover);
        cursor:pointer;
    }
    #counter {
        color: var(--nav-counter);
        display:inline-block;
    }
/* #endregion */

/* #region TODOS LOS PRODUCTOS */
    .allProducts {
        padding: 2rem;
        margin: 0rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /*border-radius: 15;*/
        /**/
        padding-top: 160px;
    }
    /*
    .filterType {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        background-color: #f4f4f4;
        top: 160px;
        position:fixed;
        margin-left: 4rem;
        max-height: 76%;
        max-width: 76%;
        border-radius: 30px;
        padding: 50px 40px;
        align-items: center;
        z-index: 2; 
    }
    */
        /* Componente Card Mercaderia*/
        .mercaderia {
            display: flex;
            flex-direction: column;
            
            justify-content: space-between;
            background-color: var(--modal);
            padding: 0.5rem;
            margin-bottom: 1rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            border-radius: 10px;
        }

        .open_detail{
            cursor:pointer;
        }
        h4 {
            font-size: small;
        }
            .mercaderia:hover {
                box-shadow: 0px 0px 25px 10px var(--mercaderia-shadow);
                transform:scale(1.2);
            }
            .mercaderia__image {
                max-width: 100%;
                height: auto;
            }
            .mercaderia__foot {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .mercaderia__foot p{
                justify-content: center;
                align-items: center;
                font-size: small;

            }
            .mercaderia__add {
                margin: 7px;
                padding: 7px;
                background-color:var(--button-add);
                border-style: hidden;
                cursor:pointer;
                border-radius: 5px;
                font-size: medium;
                align-items: center;
                display: flex;
            }
            .mercaderia__add:hover , .mercaderia__add.buttonNonSelected:hover{
                background-color: var(--success);
                transition: background-color 4s;
            }              
             

            .mercaderia__add.buttonNonSelected {
                background-color: var(--button-add);
            }
              
              .mercaderia__add.buttonSelected {
                background-color:var(--success);
              }
              
              .mercaderia__add.buttonSelected:hover {
                background-color: var(--red-color);
                transition: background-color 3s;
              }

/* #endregion */

/* #region BACKGROUND */
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        z-index:2;
    }
/* #endregion */

/* #region MODAL DETALLE DE MERCADERIA */
    .mercaderiaDetail{
        background-color: var(--modal);
        top: 5rem;
        position:fixed;
        margin: 0rem 10rem;
        border-radius: 30px;
        padding: 50px 40px;
        z-index: 2; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mercaderiaDetail img {
        max-width:500px ;
    }
    .mercaderiaDetail i{
        align-self: start;
        cursor: pointer;
    }
    .mercaderiaDetail div .mercaderiaDetailText  {
        font-size: 1rem;
        font-weight:bold;
        margin-left: 40px;
    }
    .mercaderiaDetail div .mercaderiaDetailRight {
        text-align: right;
    }            
    .mercaderiaDetail button {
        background-color:var(--button-add);
        align-self: end;
        border-style: hidden;
        cursor:pointer;
        border-radius: 5px;
        font-size: medium;
    }
    .mercaderiaDetail button:hover {
        background-color:var(button-add-hover);
        transition: background-color 4s;
    }

/* #endregion */

/* #region MODAL DE COMANDA*/
    .comandaDetail {
        background-color: var(--modal);
        width: 50rem;
        position:absolute;
        top: 5rem;
        left: 0; 
        right: 0;
        margin: auto;            
        border-radius: 30px;
        padding: 50px 40px;
        align-items: center;
        align-content: center;
        z-index: 2; 
    }
    .comandaDetail i {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    .textRight {
        text-align: right;
    }
    .comandaDetail table {
        text-align:center;
        width: 100%;
    }
    .comandaDetail .content {
        background-color: var(--modal);
        border-radius: 30px;
        padding: 50px 40px;
        align-items: center;
        align-content: center;
    }
    .comandaDetail .content h3{
        text-align:right;
        padding-top: 2rem;
        padding-right: 1rem;
    }

    .comandaDetail__buttons {
        text-align: right;
    }
    .comandaDetail__buttons h3 {
        align-items: center;
        align-content: center;
    }

    .comandaDetail__buttons button {
        border-style: hidden;
        cursor:pointer;
        border-radius: 5px;
        font-size: medium;
        background-color: var(--nav-counter);
        padding: 0rem 2rem;
        margin: 0rem 1rem;
        font-weight: 700;

    }
    .comandaDetail__buttons button:hover {
        background-color:var(--hover-close);
        transition: background-color 4s;
    }

/* #endregion */

/* #region FORMA DE ENTREGA */
    .options__delivery{
        display: flex;
        padding: 2rem 5rem;
        justify-content: space-between;
    }
    .options__delivery button{
        font-size: large;
        padding: 1rem;
        cursor:pointer;
        border:none;
        background-color:var(--nav-counter);
        width: 27%;
        border-radius: 10px;
    }
    .options__delivery button:hover{
        background-color: var(--button-delivery);
        transform:scale(1.2);
        transition: background-color 2s;
    }

    .options__delivery button.selected{
        background-color: var(--button-delivery);
    }

/* #endregion */

/* #region MODAL SEARCHER*/
    /*.searcher {
        background-color: var(--modal);
        top: 160px;
        width: 50rem;
        position:absolute;
        left: 0; 
        right: 0;
        margin: auto;            
        border-radius: 30px;
        padding: 50px 40px;
        z-index: 2; 
    }*/

    .searcher {
        background-color: var(--modal);
        top: 4rem;
        width: 25rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 30px;
        padding: 50px 40px;
        z-index: 2;
    }
    
    .searcher i {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    
    .searcher ul {
        text-align: center;
        margin: 1rem 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .searcher li {
        flex-basis: 32%;
        padding: 2rem;
    }
    .searcher #searcher__date{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;   
        margin: 2rem 0;
    }


    .searcher input,
    .searcher select {
        width: 100%;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid var(--border);
    }
    .searcher #searcher__order, #searcher__type {
        cursor: pointer;
    }
    
    .searcher button {
        border-style: hidden;
        cursor: pointer;
        border-radius: 5px;
        font-size: medium;
        background-color: var(--nav-counter);
        padding: 0rem 2rem;
        margin: 0rem 1rem;
        font-weight: 700;
        margin-right: 1rem;
    }
    
    .searcher button:hover {
        background-color: var(--hover-close);
        transition: background-color 0.4s;
    }

    
/* #endregion */

/* #region ASIDE SEARCHER*/
#aside_search {
    position:absolute; 
    /*relative se mueve, fixed fijo, absolute en relacion al otro*/
    background-color: var(--modal);
    right: 0px;
    width: 300px;
    top: 137px;
    bottom: 40px;
    border-radius: 30px;
    padding: 50px 40px;
    z-index: 2; 
    display: none;
}
/* #endregion */

/* #region FOOTER */
    footer {
        color: var(--header-title);
        background-color: var(--footer);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        position:relative;
        bottom: 0;
        width: 100%;
        margin-top: auto;
    }
/* #endregion */


.allCommands{
    background-color: #c8c1c1;
    padding: 0rem 5rem 5rem 5rem;
}
.allCommands .comandaTable {
    border-collapse: collapse; /* Fusiona los bordes de las celdas adyacentes */
    width: 100%;

}

.comandaTable th, .comandaTable td {
  border: 1px solid black; /* Agrega un borde de 1px sólido de color negro */
  padding: 8px; /* Añade un espacio interno de 8px entre el borde y el contenido */
}