@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
/* Defino variables */
:root {
    --color-principal:#555555;
    --color-secundario:#ec7433;
    --color-terciario:#f45c33; 
    --color-fondo:#666666;
    --color-texto:#f4f4f4;
    --color-texto-secundario:#f6af89;

    --color-fondo-body: rgb(204, 183, 162);
    --color-fondo-oscuro: #333333;
    --color-fondo-nav: #555555;
    --color-fondo-nav-claro: #777777;
    --color-letra-claro:#f8f8f8;
    --color-letra-oscuro:#111111;
    
}
/*Por defecto del browser*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito', sans-serif;    
    */
}

.body {
    background-color: var(--color-fondo-claro);
    max-width: 1920px;
    max-height: 1080px;

    background-color: var(--color-fondo-oscuro);
}
.logo {
    float: left;
    align-items: center;
}

    .header {
        background-color: var(--color-fondo-oscuro);
        color: var(--color-letra-claro);
        padding: 2rem;
        justify-content:left;
        align-items: center;
    }
        .nav{
            padding: 5rem 1rem;
            background-color: var(--color-fondo-oscuro);
            justify-content: end;
            float: right;
            position: relative;
        }
        #counter {
            display:inline-block;
        }
        .nav ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            justify-content:space-around;
            gap: 3rem;
            
        }
        .nav ul li {
            margin-right: 1rem;
        }
        .nav ul li a {
            font-size: large;
            text-decoration: none;
            color: var(--color-letra-claro);
            border-radius: 3px;
            transition: background-color 4s;
            padding: 0.3rem 1rem;
        }
        .nav ul li a:hover {
            background-color: var(--color-fondo);
            cursor:pointer;
        }

    main {
        padding: 2rem;
        margin-left: 4rem;
        margin-bottom: 45rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
        /* Componente Mercaderia*/
        .mercaderia {
                justify-content:left;
                align-items: center;
                background-color: #f4f4f4;
                padding: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                border-radius: 10px;
            }
            .mercaderia:hover {
                box-shadow: 0px 0px 25px 10px var(--color-fondo-oscuro);
                transform:scale(1.2);
                cursor:pointer;
            }
            .mercaderia__image {
                max-width: 100%;
                height: auto;
            }
            .mercaderia__foot {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                justify-content:space-around;
            }
            .mercaderia__foot p, button p{
                font-size: small;
            }
        .mercaderiaDetail {
            background-color: #f4f4f4;
            top: 160px;
            position:absolute;
            margin-left: 4rem;
            max-height: 76%;
            max-width: 76%;
            display: grid;
            grid-template-columns: 5fr 5fr 1fr;
            border-radius: 30px;
            padding: 50px 40px;
            align-items: center;    
        }
        .mercaderiaDetail div .mercaderiaDetailText {
            font-size: 1.2rem;
            font-weight:bold;
            margin-left: 40px;
        }

        .mercaderiaDetail div .mercaderiaDetailRight {
            text-align: right;
        }            
        .mercaderiaDetail button {
            align-self: end;
            border-style: hidden;
            cursor:pointer;
            border-radius: 5px;
            font-size: medium;
        }
        .mercaderiaDetail button:hover {
            background-color:var(--color-texto-secundario);
            transition: background-color 4s;

        }

    footer {
        background-color: var(--color-principal);
        color: var(--color-texto);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        position:relative;
        bottom: 0;
        width: 100%;
        
    }